@using BookTrackingSystem.Models
@model book

<head>
    <script src="/js/site.js"></script>

    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include jQuery UI library -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <!-- Include jQuery UI CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>

@using (Html.BeginForm("registerBook", "Home", FormMethod.Post))
{
    <form>
        <div class="form-group">
            <label for="bookNamelbl">Book Name</label>
            <input type="text" class="form-control" name="bookNametxt" aria-describedby="emailHelp" placeholder="Enter name of the book">
        </div>
        <div class="form-group">
            <label for="authorlbl">Author</label>
            <input type="text" class="form-control" name="authortxt" placeholder="Enter the author of the book">
        </div>

        <div class="form-group">
            <label for="registerTime">Register date</label><br>
            <input type="datetime-local" id="regdate" name="regdate">
        </div>

        <div class="form-group">
            <label for="issuerlbl">Issuer</label>
            <input type="text" class="form-control" name="issuertxt" placeholder="Enter the issuer of this book">
        </div><br>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}

